<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUẦN ÁO & PHỤ KIỆN DÀNH CHO NỮ, NAM, TRẺ EM | UNIQLO VN</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/uniqlo-logo-BDEC351EFB-seeklogo.com.png">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <!-- breadcrumb -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color:rgb(33, 37, 41,0.75);" href="#" aria-current="page"
                        aria-label="Trang chủ UNIQLO">UNIQLO</a></li>
                <li class="breadcrumb-item"><a style="color:rgb(33, 37, 41,0.75);" href="#" aria-current="page"
                        aria-label="Trang chủ UNIQLO">Nữ</a></li>
                <li class="breadcrumb-item"><a style="color:rgb(33, 37, 41,0.75);" href="#" aria-current="page"
                        aria-label="Trang chủ UNIQLO">Áo</a></li>
                <li class="breadcrumb-item"><a style="color:rgb(33, 37, 41,0.75);" href="#" aria-current="page"
                        aria-label="Trang chủ UNIQLO">Áo thun</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span class=""
                        style="color: rgb(117, 117, 117);">{{item.name}}</span></li>
            </ol>
        </nav>
    </div>
    <!-- breadcrumb -->
    <section class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Thumbnails -->
                            <div>
                                <img ng-src="{{item.images[0].thumb}}" ng-click="showCarousel(0)"
                                    class="img-thumbnail choose-prod">
                                <img ng-src="{{item.images[1].thumb}}" ng-click="showCarousel(1)"
                                    class="img-thumbnail choose-prod">
                                <img ng-src="{{item.images[2].thumb}}" ng-click="showCarousel(2)"
                                    class="img-thumbnail choose-prod">
                                <img ng-src="{{item.images[3].thumb}}" ng-click="showCarousel(3)"
                                    class="img-thumbnail choose-prod">
                                <img ng-src="{{item.images[4].thumb}}" ng-click="showCarousel(4)"
                                    class="img-thumbnail choose-prod">
                                <img ng-src="{{item.images[5].thumb}}" ng-click="showCarousel(5)"
                                    class="img-thumbnail choose-prod">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item  {{(0 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[0].large}}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item  {{(1 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[1].large}}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item  {{(2 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[2].large}}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item  {{(3 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[3].large}}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item  {{(4 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[4].large}}" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item  {{(5 == currentIndex)?'active':''}}">
                                        <img ng-src="{{item.images[5].large}}" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-3">
                    <h2>{{item.name}}</h2>
                    <div class="row">
                        <h5 class="col-sm-4" style=" padding-top: 15px;">{{item.price| number:0}} VND</h5>
                        <div class="row col-sm-8">
                            <div class="star-wrap">
                                <input type="radio" name="rate1" />
                                <input type="radio" name="rate2" />
                                <input type="radio" name="rate3" />
                                <input type="radio" name="rate4" />
                                <input type="radio" name="rate5" />
                            </div>
                            <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                        </div>
                    </div>
        
                    <hr>
        
                    <h5>MÀU SẮC: 61 BLUE</h5>
                    <div class="mb-3 mt-3">
                        <div class="color-option" style="background-color: #ffffff;"></div>
                        <div class="color-option" style="background-color: #000000;"></div>
                        <div class="color-option" style="background-color: #D5B1B8;"></div>
                        <div class="color-option" style="background-color: #663300;"></div>
                        <div class="color-option selected" style="background-color: #61B5D9;"></div>
                    </div>
        
                    <h5>KÍCH CỠ: NỮ S</h5>
                    <div class="mb-3 mt-3">
                        <button type="button" class="size-option btn btn-outline-primary" style="width:50px">XS</button>
                        <button type="button" class="size-option btn btn-outline-primary active" style="width:50px">S</button>
                        <button type="button" class="size-option btn btn-outline-primary" style="width:50px">M</button>
                        <button type="button" class="size-option btn btn-outline-primary" style="width:50px">L</button>
                        <button type="button" class="size-option btn btn-outline-primary" style="width:50px">XL</button>
                        <button type="button" class="size-option btn btn-outline-primary" style="width:60px">XXL</button>
                    </div>
        
                    <div class="mb-3" style="width:100px;">
                        <h6 for="quantity" class="form-label">SỐ LƯỢNG</h6>
                        <select class="form-select" id="quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div>
                        <div class="d-grid gap-2">
                            <button class="btn p-2" style="background-color: red;color:aliceblue;" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">THÊM VÀO GIỎ HÀNG</button>
                        </div>
        
                        <div class="row">
                            <div class="col-sm-6 mt-3">
                                <button type="button" class="btn btn-outline-dark" style="width:200px;height:80px;">THÊM
                                    VÀO DANH SÁCH MONG MUỐN</button>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <button type="button" class="btn btn-outline-dark" style="width:200px;height:80px;">TÌM
                                    SẢN PHẨM CÒN TRONG CỬA
                                    HÀNG</button>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top:20px;">
                    <div>
                        <h5>CHIA SẺ</h5>
                        <div class="row">
                            <ul class="font d-flex">
                                <li class="list-unstyled m-2"><a href="#"><i class="fa-brands fa-square-facebook fa-2x"
                                            style="color:#000000"></i></a></li>
                                <li class="list-unstyled m-2"><a href="#"><i class="fa-brands fa-instagram fa-2x"
                                            style="color:#000000"></i></a></li>
                                <li class="list-unstyled m-2"><a href="#"><i class="fa-brands fa-youtube fa-2x"
                                            style="color:#000000"></i></a></li>
                                <li class="list-unstyled m-2"><a href="#"><i class="fa-brands fa-tiktok fa-2x"
                                            style="color:#000000"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-4">
        <div class="row">
            <h5 class="col-sm-2">MÔ TẢ</h5>
            <p class="col-sm-3 ms-auto">Mã sản phẩm: 468625</p>
        </div>
        <div class="accordion" id="descriptionAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Tổng quan
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#descriptionAccordion">
                    <div class="accordion-body">
                        - Áo thun tay cộc cổ thuyền có chất liệu từ vải gân cotton, tạo cảm giác vừa
                        vặn, thoải mái.<br>
                        - Thiết kế cổ thuyền thanh lịch với độ ôm vừa phải, áo thun giúp tôn lên vóc
                        dáng người mặc.<br>
                        - Đặc biệt, chiếc áo thun không tay này vừa mới được cải tiến phần dưới cánh tay
                        áo để che chắn nhiều hơn, giúp bạn thêm phần tự tin.<br>
                        - Chiều dài áo thun cũng được thiết kế dài hơn một chút, phù hợp để sơ vin hoặc
                        mặc ngoài.<br>
                        - Chiếc áo thun tay cộc cổ thuyền này được lấy cảm hứng từ phong cách thời trang
                        thập niên năm 90.<br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Chất liệu
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#descriptionAccordion">
                    <div class="accordion-body">
                        Mã sản phẩm 468625<br>
                        Xin lưu ý mã số nhận diện của sản phẩm có thể có sự khác biệt, kể cả khi đó là
                        cùng một mặt hàng.<br>
                        VẢI<br>
                        96% Bông, 4% Elastan<br>
                        HƯỚNG DẪN GIẶT<br>
                        Giặt máy nước lạnh, Giặt khô, Không sấy khô<br>
                        - Những hình ảnh sản phẩm có thể bao gồm những màu không có sẵn.<br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Chính sách hoàn trả
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#descriptionAccordion">
                    <div class="accordion-body">
                        -TRONG TRƯỜNG HỢP SẢN PHẨM CÓ LỖI TỪ NHÀ SẢN XUẤT<br>
                        -Vui lòng liên hệ đến Trung Tâm Khách Hàng trước khi đổi hoặc hoàn trả sản phẩm
                        để được hỗ trợ cho sản phẩm có lỗi từ nhà sản xuất.<br>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ratings section -->
        <h5 class="mt-4">ĐÁNH GIÁ</h5>
        <div class="row">
            <div class="star-wrap">
                <input type="radio" name="rate1" />
                <input type="radio" name="rate2" />
                <input type="radio" name="rate3" />
                <input type="radio" name="rate4" />
                <input type="radio" name="rate5" />
            </div>
            <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
        </div>
    </div>
    <div class="container my-4">
        <hr>
        <h5>BÌNH LUẬN</h5>
        <hr>
        <div class="list-group">
            <div class="list-group-item">
                <h5>THOẢI MÁI VÀ TỰ TIN</h5>
                <div style="margin-top:10px;margin-bottom:10px;">
                    <span class="badge bg-warning text-dark">★★★★★</span>
                    <small class="text-muted">22/05/2024</small>
                </div>
                <p>Kích cỡ đã mua: M <br>
                    Quần áo có vừa không: Rộng<br>
                    Thoải mái, vừa vặn và dễ mặc. Đã mua tặng mẹ và bà rất thích!</p>
                <footer class="blockquote-footer">Kim Nguyên, Nữ • 25 đến 34 tuổi • HCMC</footer>
            </div>
            <div class="list-group-item">
                <h5>ĐƠN GIẢN VÀ THOẢI MÁI</h5>
                <div style="margin-top:10px;margin-bottom:10px;">
                    <span class="badge bg-warning text-dark">★★★★☆</span>
                    <small class="text-muted">22/05/2024</small>
                </div>
                <p>Kích cỡ đã mua: L<br>
                    Quần áo có vừa không: Đúng với kích thước<br>
                    Chiếc áo thật sự làm tôi kinh ngạc. Tôi sẽ mua thêm vài cái để tặng người thân.</p>
                <footer class="blockquote-footer">Minh Ngọc, Nữ • 25 đến 34 tuổi • HCMC</footer>
            </div>
            <div class="list-group-item">
                <h5>SIÊU THỜI TRANG</h5>
                <div style="margin-top:10px;margin-bottom:10px;">
                    <span class="badge bg-warning text-dark">★★★★☆</span>
                    <small class="text-muted">22/05/2024</small>
                </div>
                <p>Kích cỡ đã mua: L<br>
                    Quần áo có vừa không: Đúng với kích thước<br>
                    Tôi mua tặng bạn gái vì style của nó. Cô ấy đã rất thích. UNIQLO không làm tôi thất vọng</p>
                <footer class="blockquote-footer">Tấn Kiệt, Nam • 25 đến 34 tuổi • HCMC</footer>
            </div>
        </div>
        <button type="button" class="btn btn-outline-dark mt-3" style="width:300px;height:45px;">XEM THÊM</button>
    </div>
    </div>
    </div>
    </section>

    <div class="container mt-4">
        <h3 style="padding-left: 20px;">ĐÃ XEM GẦN ĐÂY</h3>
        <div class="list-wrapper" style="display: flex; align-items: center;">
            <button id="prev" style="margin-right: 10px;"></button>
            <div id="formList">
                <div id="list">
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="image-container">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/468625/item/vngoods_61_468625.jpg?width=750"
                                    class="card-img-top img-thumbnail" alt="product image">
                                <a href="#" class="cart-icon"><i class="fa-solid fa-heart-circle-plus"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <fieldset>
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_50_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_36_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_09_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_00_468584_chip.jpg"
                                            alt="">
                                        <img class="img-thumbnail pick-color"
                                            src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/468584/chip/goods_73_468584_chip.jpg"
                                            alt="">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-6">NỮ</span>
                                <span class="col-sm-6 ms-auto">XXL</span>
                            </div>
                            <div class="card-body">
                                <h5 style="text-align: left;">Áo Thun Cổ Thuyền</h5>
                                <h4 style="text-align: left; font-weight: bold;">244.000 VND</h4>
                                <div class="row">
                                    <div class="star-wrap">
                                        <input type="radio" name="rate1" />
                                        <input type="radio" name="rate2" />
                                        <input type="radio" name="rate3" />
                                        <input type="radio" name="rate4" />
                                        <input type="radio" name="rate5" />
                                    </div>
                                    <p style="padding-top:10px;width: 60px;height:40px;">(104)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="next" style="margin-left: 10px;"></button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> 1 SẢN PHẨM ĐÃ ĐƯỢC THÊM VÀO GIỎ HÀNG CỦA BẠN
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465601/item/vngoods_01_465601.jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h4 class="card-title text-bold">Áo Polo AIRism Cotton</h4>
                                    <p class="card-text" style="margin-bottom:0px ;"><small class="text-muted">Mã sản
                                            phẩm: 455365</small></p>
                                    <p class="card-text" style="margin-bottom:0px ;">Màu sắc: White</p>
                                    <p class="card-text" style="margin-bottom:0px ;">Kích cỡ: Nữ S</p>
                                    <p class="card-text" style="color:red;margin-bottom:0px ;">489.000 VND</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="decrementValue(this)">-</button>
                                            <input type="text" class="form-control form-control-sm" value="1"
                                                style="max-width: 40px;">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="incrementValue(this)">+</button>
                                        </div>
                                        <h5 class="ms-auto" style="color:red">Tổng: 489.000 VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465601/item/vngoods_01_465601.jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h4 class="card-title text-bold">Áo Polo AIRism Cotton</h4>
                                    <p class="card-text" style="margin-bottom:0px ;"><small class="text-muted">Mã sản
                                            phẩm: 455365</small></p>
                                    <p class="card-text" style="margin-bottom:0px ;">Màu sắc: White</p>
                                    <p class="card-text" style="margin-bottom:0px ;">Kích cỡ: Nữ S</p>
                                    <p class="card-text" style="color:red;margin-bottom:0px ;">489.000 VND</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="decrementValue(this)">-</button>
                                            <input type="text" class="form-control form-control-sm" value="1"
                                                style="max-width: 40px;">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="incrementValue(this)">+</button>
                                        </div>
                                        <h5 class="ms-auto" style="color:red">Tổng: 489.000 VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/465601/item/vngoods_01_465601.jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h4 class="card-title text-bold">Áo Polo AIRism Cotton</h4>
                                    <p class="card-text" style="margin-bottom:0px ;"><small class="text-muted">Mã sản
                                            phẩm: 455365</small></p>
                                    <p class="card-text" style="margin-bottom:0px ;">Màu sắc: White</p>
                                    <p class="card-text" style="margin-bottom:0px ;">Kích cỡ: Nữ S</p>
                                    <p class="card-text" style="color:red;margin-bottom:0px ;">489.000 VND</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="decrementValue(this)">-</button>
                                            <input type="text" class="form-control form-control-sm" value="1"
                                                style="max-width: 40px;">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                onclick="incrementValue(this)">+</button>
                                        </div>
                                        <h5 class="ms-auto" style="color:red">Tổng: 489.000 VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6" style="text-align: left;">
                            <h4>Tổng: 3 sản phẩm</h4>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <h4>2.445.000 VND</h4>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6 mt-3">
                            <button type="button" class="btn btn-outline-dark" style="width:200px;height:40px;">XEM GIỎ
                                HÀNG</button>
                        </div>
                        <div class="col-sm-6 mt-3">
                            <button type="button" class="btn btn-outline-dark" style="width:200px;height:40px;">TIẾP TỤC
                                MUA SẮM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row" style="padding-bottom:40px;">
                <div class="col-md-2 footer-column">
                    <h4>Về Uniqlo</h4>
                    <ul>
                        <li><a href="#">Thông tin</a></li>
                        <li><a href="#">Danh sách cửa hàng</a></li>
                        <li><a href="#">Cơ Hội Nghề Nghiệp</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-column">
                    <h4>Trợ giúp</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Chính sách trả hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Tiếp cận</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-column">
                    <h4>Tài khoản</h4>
                    <ul>
                        <li><a href="#">Tư cách thành viên</a></li>
                        <li><a href="#">Hồ sơ</a></li>
                        <li><a href="#">Coupons</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-column">
                    <h4>Bản tin điện tử</h4>
                    <p>Đăng ký ngay và là người đầu tiên nắm được thông tin khi có mặt hàng mới, khuyến mãi, các sự
                        kiện
                        sắp diễn ra tại cửa hàng và nhiều thông tin hữu ích khác.</p>
                    <li class="nav-item list-unstyled"><a href="#" style="color:black;font-weight: 600;">ĐĂNG KÝ
                            NGAY</a></li>
                </div>
                <div class="col-md-3 footer-column">
                    <h4>Tài khoản xã hội UNIQLO</h4>
                    <ul class="font d-flex">
                        <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-bottom">
                <p>&copy; 2024 UNIQLO Website. All rights reserved.</p>
                <p><a href="#" style="color:black;" class="text-decoration-none">English</a> | <a href="#"
                        style="color:black;font-weight: 500;" class="text-decoration-none">Tiếng Việt</a></p>
            </div>
        </div>
    </footer>
    <script src="js/detail.js"></script>
    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/896df3cdf4.js" crossorigin="anonymous"></script>
</body>

</html>