<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG KÝ | UNIQLO VN</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/uniqlo-logo-BDEC351EFB-seeklogo.com.png">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/register.css">
</head>

<body ng-controller="signupController">
<div class="container">
    <div class="card card-custom">
        <div class="card-header card-header-custom">
            <h3 class="signup">ĐĂNG KÝ</h3>
            <div class="button"><a href="#"><i class="fas fa-times fa-2x" style="color:white;"></i></a></div>
        </div>
        <form name="signupForm" ng-submit="register(signupForm.$valid)" novalidate>
            <div class="mb-3">
                <label for="birthday" class="form-label">Ngày sinh của bạn là?</label>
                <div class="row g-2">
                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Ngày" ng-model="birthday.day" name="day" required min="1" max="31">
                        <div ng-show="signupForm.day.$touched && signupForm.day.$invalid" class="text-danger">
                            <div ng-show="signupForm.day.$error.required">Ngày sinh không được để trống.</div>
                            <div ng-show="signupForm.day.$error.min || signupForm.day.$error.max">Ngày sinh không hợp lệ.</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Tháng" ng-model="birthday.month" name="month" required min="1" max="12">
                        <div ng-show="signupForm.day.$touched && signupForm.day.$invalid" class="text-danger">
                            <div ng-show="signupForm.month.$error.required">Tháng sinh không được để trống.</div>
                            <div ng-show="signupForm.month.$error.min || signupForm.month.$error.max">Tháng sinh không hợp lệ.</div>
                        </div>                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" placeholder="Năm" ng-model="birthday.year" name="year" required min="1900" max="2099">
                        <div ng-show="signupForm.day.$touched && signupForm.day.$invalid" class="text-danger">
                            <div ng-show="signupForm.year.$error.required">Năm sinh không được để trống.</div>
                            <div ng-show="signupForm.year.$error.min || signupForm.year.$error.max">Năm sinh không hợp lệ.</div>
                        </div>                    </div>
                </div>
                <label class="form-text" style="color:white;margin-top:10px;">Không thể chỉnh sửa ngày sinh sau khi đăng ký tài khoản.</label>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-2">
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="col-sm-10 input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input id="email" class="form-control" type="email" ng-model="newUser.email" name="email" required pattern="^\S+@\S+\.\S+$">
                </div>
                <div ng-show="signupForm.email.$touched && signupForm.email.$invalid" class="text-danger">
                    <div ng-show="signupForm.email.$error.required">Email không được để trống.</div>
                    <div ng-show="signupForm.email.$error.pattern">Email không hợp lệ.</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-2">
                    <label for="password" class="form-label">Password</label>
                </div>
                <div class="col-sm-10 input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input id="password" class="form-control" type="password" ng-model="newUser.password" name="password" required pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%@&?]).*$">
                </div>
                <div ng-show="signupForm.password.$touched && signupForm.password.$invalid" class="text-danger">
                    <div ng-show="signupForm.password.$error.required">Mật khẩu không được để trống.</div>
                    <div ng-show="signupForm.password.$error.pattern">Mật khẩu phải chứa ít nhất 8 ký tự, bao gồm chữ cái, số và ký tự đặc biệt.</div>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="trendingContent" required>
                <label class="form-check-label" for="trendingContent" style="color:white">Tôi đồng ý với điều khoản sử dụng và chính sách bảo mật của UNIQLO.</label>
            </div>
            <div class="mb-5">
                <button class="button-86 text-center" role="button" type="submit" style="font-size: 25px;">Đăng ký</button>
                <small class="form-text" style="color:white">Bằng cách tiếp tục, bạn đồng ý với điều khoản dịch vụ của UNIQLO và xác nhận rằng bạn đã đọc chính sách bảo mật của UNIQLO.</small>
            </div>
            <hr>
            <div class="text-center" style="color:white">
                <p>Bạn đã có tài khoản? <a href="#!signin" class="link-custom">Đăng nhập</a></p>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/896df3cdf4.js" crossorigin="anonymous"></script>
</body>

</html>
